<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mostrarRepartidores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</head>

<body>

    <div th:fragment="listaRiders" class="container mt-3 mb-3">
        <div class="table-responsive">
            <table class="table table-bordered table-striped text-primary text-center">
                <thead class="p-4">
                    <tr>
                        <th>DNI</th>
                        <th>Zona</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Vehículo</th>
                        <th>Género</th>
                        <th>Fecha de Alta</th>
                        <th>Disponibilidad</th>
                        <th>Carga max.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="repartidor : ${repartidorList}">
                        <td th:text="${repartidor.dni}">DNI</td>
                        <td th:text="${repartidor.zona}">Osuna</td>
                        <td th:text="${repartidor.nombre}">David</td>
                        <td th:text="${repartidor.apellidos}">Díaz</td>
                        <td th:text="${repartidor.email}">[EMAIL_ADDRESS]</td>
                        <td th:text="${repartidor.telefono}">666666666</td>
                        <td th:text="${repartidor.vehiculo}"></td>
                        <td th:text="${repartidor.genero}">Masculino</td>
                        <td th:text="${#temporals.format(repartidor.fechaAlta)}">2026-05-14</td>
                        <td th:text="${repartidor.estado}">Disponible</td>
                        <td th:text="${repartidor.cargaMax}">10kg</td>
                    </tr>
                </tbody>
            </table>
        </div>

</body>

</html>