<div th:fragment="listaRiders" class="container-fluid p-0">
    <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
            <thead class="table-light text-secondary">
                <tr>
                    <th class="fw-semibold">DNI</th>
                    <th class="fw-semibold">Zona</th>
                    <th class="fw-semibold">Nombre</th>
                    <th class="fw-semibold">Apellidos</th>
                    <th class="fw-semibold">Email</th>
                    <th class="fw-semibold">Teléfono</th>
                    <th class="fw-semibold">Vehículo</th>
                    <th class="fw-semibold">Género</th>
                    <th class="fw-semibold">Fecha Alta</th>
                    <th class="fw-semibold">Estado</th>
                    <th class="fw-semibold">Carga máx.</th>
                    <th class="fw-semibold text-center">Acciones</th>
                </tr>
            </thead>
            <tbody class="border-top-0">
                <tr th:each="repartidor : ${repartidorList}">
                    <td th:text="${repartidor.dni}">DNI</td>
                    <td th:text="${repartidor.zona}">Osuna</td>
                    <td th:text="${repartidor.nombre}">David</td>
                    <td th:text="${repartidor.apellidos}">Díaz</td>
                    <td th:text="${repartidor.email}">Email</td>
                    <td th:text="${repartidor.telefono}">666666666</td>
                    <td th:text="${repartidor.vehiculo?.descripcion}">Furgoneta</td>
                    <td th:text="${repartidor.genero}">Masculino</td>
                    <td
                        th:text="${repartidor.fechaAlta != null ? #temporals.format(repartidor.fechaAlta, 'dd/MM/yyyy') : 'Sin fecha'}">
                        14/05/2026</td>

                    <td th:text="${repartidor.estado?.descripcion}">Disponible</td>
                    <td th:text="${repartidor.cargaMax}">10kg</td>

                    <td class="text-center">
                        <a th:href="@{/rrhh/editar/{dni}(dni=${repartidor.dni})}" class="text-decoration-none">
                            <i class="bi bi-pencil-square fs-5"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>