<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index-TFG</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/general.css}">



</head>

<body class="min-vh-100 d-flex flex-column">

    <div th:replace="~{fragments/general :: header}"></div>

    <div id="row 1" class="row text flex-grow-1 m-0 ">
        <aside th:replace="~{fragments/general :: aside}"></aside>
        <main id="main" class="col-md-10 col-12">

            <div class="container-fluid mt-4 text-center ">
                <div id="rowResumen" class="row justify-content-between">
                    <div class="col-md-3 col-12 border border rounded-3 bg-warning">
                        <span>resumen</span>
                        <span>hola</span>
                    </div>
                    <div class="col-md-3 col-12 border rounded-3 bg-info">
                        <span class="">Estadísticas</span>
                    </div>
                    <div class="col-md-3 col-12 border rounded-3 bg-primary text-light">
                        <span class="">Gráficos</span>
                    </div>
                </div>
            </div>
        </main>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</body>



</html>